
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
pm2.log
.pm2/
pids/

node_modules/
.npm

.npmrc
.yarnrc

/client/dist/

.env.local
.env.*.local

.vite/
.next/

/server/data/modlists/
/server/data/skins/uploads/
/server/data/modpacks/
/server/.minecraft-session.json
/server/usercache.json.old

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db